 $gutter-width: 100px;
 $gutter-height: 20px;

.grid-container{
    width: 100%;
    max-width: $grid-max-width;
}


.row:before,
.row:after {
    content:"";
      display: table ;
    clear:both;
}

[class*='column-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    /*-- our gutter -- */
    padding: $gutter-height $gutter-width;
}

.column-one-sixth{ width: 16.66%; }
.column-one-third{ width: 33.33%; }
.column-one-half{ width: 50%;    }
.column-two-thirds{ width: 66.66%; }
.column-five-fifths{ width: 83.33%; }
.column-full-width{ width: 100%;   }

.outline, .outline *{
    outline: 1px solid #F6A1A1;
}

[class*='column-'] > p {
 padding: 0;
 margin: 0;
 text-align: center;
}





//
// .container {
//     max-width: $grid-max-width;
//     margin: 0 auto;
//     display: block;
//     position: relative;
// }
//
// .row {
//     width: 100%;
//     display: block;
// }
//
// .column {
//     padding: 10px;
//     display: inline-block;
//     width: 100%;
//
//     &.one-half {
//         max-width: calc(49.7777% - (#{$gutter-width} / 2));
//         margin-right: $gutter-width;
//     }
//
//     &.one-third { // THIS BIT IS CURRENTLY BROKEN
//         max-width: calc(32.6666% - (#{$gutter-width} * .5));
//         margin-right: $gutter-width;
//     }
//
//     &:last-child {
//         margin-right: 0;
//     }
// }
