/* General Text Styles */
html,
body,
* {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: $font-size;
}

* {
    box-sizing: border-box;
    
    &::before,
    &::after {
        box-sizing: border-box;
    }
    
    color: getColor(text, primary);
}

/* Type Base */

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    color: getColor(text, heading);
}

h1 {
    font-size: 28px;
    margin-bottom: 18px;
}

h2 {
    font-size: 26px;
    margin-bottom: 16px;
}

h3 {
    font-size: 24px;
    margin-bottom: 14px;
}

h4 {
    font-size: 22px;
    margin-bottom: 12px;
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    color: getColor(text, primary);
    margin-bottom: 8px;
    line-height: 1.25;
    
    small {
        color: getColor(text, secondary);
        font-size: 80%;
    }
}

kbd {
    padding: .1em .6em;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333;
    box-shadow: 0 1px 0px rgba(black, .2),0 0 0 2px #ffffff inset;
    border-radius: 3px;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    text-decoration: none !important;
    vertical-align: baseline;
    line-height: 1.25;
}


/* Colours */

.text {
    &--primary {
        color: getColor(text, primary);
    }
    &--secondary {
        color: getColor(text, secondary);
    }
    &--heading {
        color: getColor(text, heading);
    }
    &--link {
        color: getColor(text, link);

        &--block {
            @include block-link(getColor(text, link))
        }
    }
    &--ui {
        background: getColor(background, dark);
        color: getColor(text, ui);
    }
    &--success {
        color: getColor(state, success);
    }
    &--warning {
        color: getColor(state, warning);
    }
    &--error {
        color: getColor(state, error);
    }
    &--white {
        color: getColor(base, light);
    }
}

.background {
    &--primary {
        background: getColor(background, primary);
    }
    &--secondary {
        background: getColor(background, secondary);
    }
    &--success {
        background: getColor(state, success);
    }
    &--warning {
        background: getColor(state, warning);
    }
    &--error {
        background: getColor(state, error);
    }
}

.blockline {
    display: block;
    line-height: 2;
}

code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f7f7f9;
    border-radius: .25rem;
}