$colors: (
    base: (
        "primary":   #4591aa,
        "selection": #d6d6d6,
        "lines":     #e0e0e0,
        "dark": #000,
        "light": #fff
    ),

    text: (
        "primary":   #333,
        "secondary": #4c4c4c,
        "heading":   #111,
        "link":      #9edc94,
        "ui":        #ddd,
        "light": #fff
    ),

    background: (
        "secondary":  #282E31,
        "primary": #fff
    ),

    state: (
        "muted":   #aaa,
        "primary": #4591aa,
        "success": #45ca69,
        "warning": #ffb800,
        "error":   #ca4829
    ),

    blue: (
        "darker":  #495b61,
        "dark":    #447281,
        "base":    #4591aa,
        "light":   #5ab0cc,
        "lighter": #74cbe8
    ),

    green: (
        "darker":  #3b6e6e,
        "dark":    #3b8686,
        "base":    #37a1a1,
        "light":   #2dbaba,
        "lighter": #69d1d1
    ),

    cream: (
        "darker":  #c47858,
        "dark":    #e29372,
        "base":    #ecac91,
        "light":   #f9c2ab,
        "lighter": #fdd5c3
    ),

    red: (
        "darker":  #653131,
        "dark":    #b73333,
        "base":    #da3c3c,
        "light":   #f25a5a,
        "lighter": #fa8181
    ),

    gray: (
        "darker":  #333333,
        "dark":    #4d4d4d,
        "base":    #666666,
        "light":   #808080,
        "lighter": #999999
    )
) !default;

$font-size: 16px !global;
$font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !global;
$font-weight: 400;
$font-color: #333 !global; 

$heading-family: 'Roboto', sans-serif !global;
$heading-weight: 300 !global;
$heading-color: #111 !global;

$grid-max-width: 960px;